.original_link_button{
    height:100%;
    width:100%;
    display:block;
    color:gray;
    padding:80px 10px;
    font-size:36px;
    text-align:center;
}
.original_link_button:hover{
    color:gray;
    text-decoration: none;
    background-color:rgba(0,0,0,.2);
}
.original_home_ul_group li {
    padding:0;
    margin: 30px 0;
}

.form_inline {
    display:inline;
}
.original-table-style {
    display:block;
}

.original-span-with {
    display:block;
}

.original-button {
    width:120px;
    margin:10px;
    display:inline-block;
}

.original-chat-bord {
    height:calc(100vh - 350px);
    overflow: auto;

}
.original_class_chat_ul {
    background-color:white;
    height:calc(100vh - 400px);
    border:none;
    box-sizing:border-box;
    width:100%;
    padding:10px;
}
.original-list-group-item:not(:first-child){
    margin-top:15px;
}
.original-list-group-item_left {
    border:none;
    width:70%;
    background-color:#ddd;
    border-radius:15px 15px 15px 0;
    list-style:none;
    padding:10px;
}

.original-list-group-item_right {
    border:none;
    width:70%;
    float:right;
    background-color:rgba(0,0,255,.3);
    border-radius:15px 15px 0 15px;
    list-style:none;
    padding:10px;
}

.original-danger-link {
    font-weight:bold;
    color:red;
    text-decoration: underline;
}
.original-danger-link:hover{
    text-decoration: none;
    color:red;
}

.original-list-group-item:first-child {
    border:none;
}

.original-comment-style {
    width:90%;
    float:right;
}

.original-chat-link-button {
    display:block;
    color:black;
    height:100%;
    width:100%;
}
.original-chat-link-button:hover {
    color:black;
    text-decoration:none;
}

.original-margin-15-0{
    margin:15px 0;
}
