.original_link_button{
    height:100%;
    width:100%;
    display:block;
    color:gray;
    padding:80px 10px;
    font-size:36px;
    text-align:center;
}
.original_link_button:hover{
    color:gray;
    text-decoration: none;
    background-color:rgba(0,0,0,.2);
}
.original_home_ul_group li {
    padding:0;
    margin: 30px 0;
}

.form_inline {
    display:inline;
}
.original-table-style {
    display:block;
}

.original-span-with {
    display:block;
}

.original-button {
    width:120px;
    margin:10px;
    display:inline-block;
}

.original-chat-bord {
    height:calc(100vh - 450px);
    overflow: auto;

}

.original-list-group-item {
    border:none;
    border-top:1px solid gray;
}
.original-list-group-item:first-child {
    border:none;
}

.original-comment-style {
    width:90%;
    float:right;
}

.original-chat-link-button {
    display:block;
    color:black;
    height:100%;
    width:100%;
}
.original-chat-link-button:hover {
    color:black;
    text-decoration:none;
}
