.original_link_button{
    height:100%;
    width:100%;
    display:block;
    color:gray;
    padding:80px 10px;
    font-size:36px;
    text-align:center;
}
.original_link_button:hover{
    color:gray;
    text-decoration: none;
    background-color:rgba(0,0,0,.2);
}
.original_home_ul_group li {
    padding:0;
    margin: 30px 0;
}

.form_inline {
    display:inline;
}
.original-table-style {
    height:60px;
    vertical-align: top;
}

.original-span-with {
    width:80%;
    display:block;
}

.original-button {
    width:150px;
    margin:5px 0;
}
